body {
  /* background: -webkit-radial-gradient(#223b7b, #050e26); */
  background-image: url("image2 (2).png");
}

table {
  margin: 0 auto;
  border-radius:10px;
}
p{
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: black;
}

td {
  color: white;
  border: 2px solid rgba(0, 0, 0, .3);
  background: rgba(5, 0, 23, .40);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 0;
  font-family: cursive;
  font-size: 8em;
  font-weight: bold;
  box-sizing:border-box;
  cursor: pointer;
  user-select: none;

}

td:hover{
  background: rgba(5, 0, 23, .47);
}

tr {
  padding: 0;
  margin:0;
}

.container, #playerTurn {
  text-align: center;
}

.playerX {
  color: white;
  /* text-shadow: 0 0 4px white, 0 0 4px white, 0 0 18px crimson, 0 0 18px crimson, 0 0 18px crimson, 0 0 18px crimson, 0 0 20px crimson, 0 0 60px crimson; */
  transition: all .1s ease-in-out;
}
.playerY {
  color: white;
  /* text-shadow: 0 0 8px #00d2ff, 0 0 8px #00d2ff, 0 0 8px #00d2ff, 0 0 8px #00d2ff, 0 0 8px #00d2ff, 0 0 8px #00d2ff, 0 0 20px blue, 0 0 60px blue; */
  font-size: 7em !important;
  transition: all .1s ease-in-out;
}

#container {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#playerTurn {
  background: rgba(0, 0, 0, .3);
  color: white;
  font-family: cursive;
  font-size: 1.2em;
  padding: 4px 0;
  margin: 10px 0;
  line-height: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: default;
}

#reset {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 25px 0 0 0;
  padding: 10px;
  width: 100%;
  color: white;
  background: #00AEEA;
  font-family: cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  user-select: none;
  /* box-shadow: 0 0 10px 3px crimson, 0 0 10px 4px crimson inset, 0 0 4px 2px red inset; */
  transition: all .1s ease-in-out;
}

/* #reset:hover{
  /* background: -webkit-linear-gradient(top, rgba(237, 20, 61, .8), rgba(237, 20, 61, .5)); */
} */

/* #reset:active {
  background: -webkit-linear-gradient(top, rgba(237, 20, 61, .8), rgba(237, 20, 61, .6));
  box-shadow: 0 0 14px 4px crimson, 0 0 15px 6px crimson inset, 0 0 4px 3px red inset;
} */

#reset:focus {
  outline: none;
}
